/*your custom CSS here*/

body {
background-color: #010301;
}

.heading {
width:100%;
height: 310px;
background-image: url(../img/greenbay_header.jpg);
background-repeat: no-repeat;
background-position: center;
border-bottom: 2px solid #ffff00;

}

.heading h1 {
margin: 10px o;
}

.footer {
position:fixed;
width:100%;
bottom: 0;
left: 0;
padding:0 20px;
border-top: 2px solid #eee;
color: yellow;
}

.box {
  color: yellow;
  float: left;
  width: 28%;
  margin-right: 10px;
  margin-bottom: 10px;
border-style: solid;
border-width: 4px;
}

.box:last-child {
  margin-right: 0;
}

.box h2 {

}

.box img {
width: 100%;
}


a {
  
color: #ffcc00;
text-decoration: none; 
}
  
a:hover {
    
color: yellow;
text-decoration: underline; 
}



.read-more {
  
color: #ffcc00;

text-decoration: underline; 
}
  
.read-more:hover {
    
color: yellow
;    
text-decoration: none; 
}
