/*your custom CSS here*/

body {
background-color: #003699;
}

.heading {
width:100%;
height: 310px;
background-image: url(../img/greenbay_header.jpg);
background-repeat: no-repeat;
background-position: center;
border-bottom: 2px solid #ffff00;
}

.heading h1 {
margin: 10px o;
}

.footer {
position:fixed;
width:100%;
bottom: 0;
left: 0;
padding:0 20px;
border-top: 2px solid #eee;
}

.box {
  color: white;
  float: left;
  width: 32%;
  margin-right: 1.5%;
  margin-bottom: 100px;
  border-width: thick;
  border-color: solid #ffff00;
}

.box:last-child {
  margin-right: 0;
}

.box h2 {

}

.box img {
width: 100%;
}


a {
  
color: #ffcc00;
text-decoration: none; 
}
  
a:hover {
    
color: black;
text-decoration: underline; 
}



.read-more {
  
color: #ffcc00;

text-decoration: underline; 
}
  
.read-more:hover {
    
color: black
;    
text-decoration: none; 
}
